<form>
  <div class="form-group">
    <label for="fraza">Szukaj:</label>
    <input type="text" class="form-control" id="fraza" name="fraza" placeholder="Szukaj..." [(ngModel)]="fraza">
  </div>
  <div class="form-group">
    <label for="woj">Województwo:</label>
      <select class="form-control" name="woj" id="woj" [(ngModel)]="woj">
        <option value="">Wszystkie</option>
        <option value="D">Dolnośląskie</option>
        <option value="C">Kujawsko-Pomorskie</option>
        <option value="L">Lubelskie</option>
        <option value="F">Lubuskie</option>
        <option value="E">Łódzkie</option>
        <option value="K">Małopolskie</option>
        <option value="W">Mazowieckie</option>
        <option value="O">Opolskie</option>
        <option value="R">Podkarpackie</option>
        <option value="B">Podlaskie</option>
        <option value="G">Pomorskie</option>
        <option value="S">Śląskie</option>
        <option value="T">Świętkorzyskie</option>
        <option value="N">Warmińskio-Mazurskie</option>
        <option value="P">Wielkopolskie</option>
        <option value="Z">Zachodnio-pomorskie</option>
        <option value="HP">Policja</option>
  </select>
</div>
</form>
<div class="col-xs-3" *ngFor="let tab of tabs | filter: fraza | wojewodztwo: woj">
  <div class="info" [ngClass]="tab.skrot.substring(0,1)">
    <h3 [ngClass]="tab.skrot.substring(0,1)">{{tab.skrot}}</h3>
    <p>{{tab.nazwa}}</p>
  </div>
</div>
<!-- <table class="table table-striped">
  <tr><th>Skrót</th><th>Nazwa</th></tr>
  <tr *ngFor="let tab of tabs | filter: fraza | wojewodztwo: woj">
    <td>{{tab.skrot}}</td>
    <td>{{tab.nazwa}}</td>
  </tr>
</table> -->
